h1 {
  text-decoration: underline;
}

.note {
    position: absolute;
    box-shadow: 0 0 7px #ccc;
    padding: 15px;
}
.note :first-child {
    margin-top: 0;
}
.note :last-child {
    margin-bottom: 0;
}